.button {
  display: flex;
  padding: 15px;
  margin: 0 auto 15px;
  justify-content: center;
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
